@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan+SC&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-effect {
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(1rem);
}



.day {
    font-size: 1.5rem;
    font-family: day;
    color: white;
}

.date {
    font-family: Montserrat;
}

.theme {
    font-family: "PT Serif";
    font-size: 1.2rem;
}

.round {
    border-top-left-radius: 15px;
}

.taskstyle {
    font-family: Montserrat;
    font-weight: 700;
}

.importantHeading {
    font-family: "Ubuntu Sans";
}

.sidenavText {
    font-family: "Dosis";
    font-size: 1.3rem;
}

.editSection {
    font-family: "Ubuntu Sans";
    font-size: 1.2rem;
}

.Edit-date {
    font-family: Dosis;
    font-size: 1.4rem;
}